#page-content {
    position: relative;
    /* this element's width controls the effective height */
    /* of the video container's padding-bottom */
    max-width: 640px;
    margin: 10px 0;
}
  
#video-container {
    position: relative;
    /* forces the container to match a 16x9 aspect ratio */
    /* replace with 75% for a 4:3 aspect ratio, if needed */
    padding-bottom: 56.25%;
}
  
#video-element {
    /* forces the contents to fill the container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ad-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }